/*Laptop & Small Desktops 769px-1024px*/

@media screen and (max-width: 1024px) {
    /* Your original Desktop Grid Layout */
    .container {
    grid-template-columns: repeat (4,1fr); /*4 equal columns across 1024px*/
    gap: 20px;
  }
}

body, header, main, footer, section, article, aside, main section, h1 {
    margin: 0px;
    padding: 0px;
    width: auto;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Viner Hand ITC', regular;
}

main, body {
    background-color: lavender;
}

main section {
    display: grid;
    /* Creates a 3-column grid layout */
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    font-display: block;
}

header {
    background-image: url(../images/pretties32.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: content-box;
    text-align: center;
    height: auto;
}

/*title*/
h1 {
    text-align: center;
    font-size: 28px;
    padding-inline: 10px;
    padding-top: 1em;
}

/*paragraph after title*/
.top {
    font-size: 18px;
}

/*poem titles*/
.title1, .title2, .title3 {
    font-size: 25px;
}

/*authors*/
.author1, .author2, .author3 {
    font-size: 16px;
}

/*all poems*/
p {
    font-size: 20px;
}
.pure-u-1-3 {
    padding-top: 10px;
}

/*left poem*/
.item1 {
    padding-inline-start: 60px;
    padding-inline-end: 50px;
    margin-inline: auto;
}

/*middle poem*/
.item2 {
    text-align: center;
    margin-inline: auto;

}

/*right poem*/
.item3 {
    text-align: end;
    padding-inline-end: 60px;
    padding-left: 10px;
    margin-inline: auto;

}

/*pictures*/
.pure-u-1-4 {
    padding-inline: 50px;
    margin-inline: auto;
}

/*bottom of page*/
footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: lightblue;
    height: 45px;
    padding-bottom: 2px;
    font-size: 12px;
}