body {
    background-color:wheat;
    color: rgb(19, 19, 88);
    font-family: 'Dumbledor 3', 'Dumbledor 3 Wide', 'Dumbledor 3 Narrow', 'Dumbledor 3 Condensed', 'Dumbledor 3 Extended', 'Dumbledor 3 Semi-Condensed', 'Dumbledor 3 Semi-Extended', 'Dumbledor 3 Extra-Condensed', 'Dumbledor 3 Extra-Extended', serif;
}