/* CSS Reset Properties */
body, main, article, section, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a{
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    border: rgba(255, 255, 255, 0.07) 2px solid;
    padding: 5px;
}
nav a:hover {
    color: black;
    background-color: white;
}

body {
    padding: 100px;
    font-size: 16px;
    background-color: #621a3d;
    color: white;
}
section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
}

/* individual classes for section background images */
.em {
    background-image: url(../images/water01.jpg);
    border: solid rgba(0, 0, 0, 0.468) .5em;
    font-size: 1.2em;
}
.rem {
    background-image: url(../images/water02.jpg);
    border: dotted rgba(12, 12, 85, 0.736) .5rem;
}
.vw {
    background-image: url(../images/water05.jpg);
    border: dashed .5vw;
    font-size: 1.1vw;
    box-sizing: border-box;
}
.per {
    background-image: url(../images/water06.jpg);
}
.per p {
    width: 75%;
}
.box {
    background-image: url(../images/water04.jpg);
    box-sizing: border-box;
    border: rgb(43, 3, 43) solid .5em;
}
.hero {
    background-image: url(../images/water03.jpg);
    border-top-right-radius: 2em;
}
.hero p{
    width: 50%;
}
footer {
    text-align: center;
    background-position: center;
    padding: 30px;
}
footer img {
    display: block;
    margin: 0 auto;
    padding: 30px;
}