body, header, main, footer, section, article, aside, main section, h1 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Viner Hand ITC', regular
}

main, body {
    background-color: lavender;
}

main section {
    display: grid;
    /* Creates a 3-column grid layout */
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    font-display: block;
}

/*header*/
header, .hero {
    background-image: url(../images/pretties32.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
    padding-bottom: 1em;
}

/*paragraph after title*/
.top {
    padding-inline: 3em;
}

/*title*/
h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 2.5em;
}

/*paragraph title*/

/*poem titles*/
.title1, .title2, .title3 {
    padding-top: 1em;
    font-size: 25px;
}

/*authors*/
.author1, .author2, .author3 {
    font-size: 16px;
}


/*all poems*/
p {
    font-size: 18px;
}

.pure-u-1-3 {
    padding-top: 10px;
}

/*left poem*/
.item1 {
    margin-inline-start: 45px;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

/*middle poem*/
.item2 {
    text-align: center;
}

/*right poem*/
.item3 {
    text-align: end;
    margin-inline-end: 45px;
    padding-inline-end: 50px;
}

/*pictures*/
.image-container {
    padding-inline: 30px;
    padding-bottom: 30px;
    margin-inline: auto;
    width: auto;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
}

/*bottom of page*/
footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: lightblue;
    height: 35px;
}

.footer {
    font-size: 15px;
    padding-top: 3px;
}