body {
    margin:0px;
    padding:0px;
    font-size:20px;
    box-sizing:border-box;
    font-family: "Quintessential", serif;
 }

.hero {
    display:flex;
    justify-content: center; /* aligned horizontally */
    align-items: center; /* aligned vertically */
    height: 100vh;
    background-image: url(../images/history-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    filter:grayscale(100%)
}

h1 {
   text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "MonteCarlo", cursive;
    font-size:100px;
}


main {
    display:flex;
    flex-wrap:wrap;
}

main section {
    flex-grow:1;
    width:30%;
    margin:10px;
    background-color:rgba(5, 144, 128, 0.87);
    border:solid rgba(2, 52, 46, 0.87) 3px;
    border-radius:5px;
    padding:5px;
}

