@media screen and (max-width: 550px) {
    nav, main, footer, article, main ul, header, nav ul, .pure-g, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-2-3 {
      width: 90%;
      display: block;
      margin: auto;
    }

    body {
      padding: 5px;
    }

    .pur-g, .pure-menu-horizpontal .pure-menu-item {
      display: block;
    }

    .pure-u-1-3, .pure-u-1-2 {
      width: 90%;
    }
}