body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: American Typewriter ITC Pro, condensed, sans-serif;
    background-color:powderblue;
    color: black;
    font-size: 14px;
}

a {
    color: black;
}

header, main, aside, footer {
    width: 80%;
    margin: auto;
}

section {
    box-sizing: border-box;
    border: rgb(198, 136, 136) 2px solid;
    padding: 5px;
}

h1 {
    font-size: 40px;
    font-family: Citadel of Blackrose, sans-serif;
}

footer {
    font-size: 12px;
    text-align: center;
}