body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    background-image: url(../images/forest.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
    font-family: "Roboto", sans-serif;
    color: rgb(119, 215, 239)
}

nav {
    /* background-color: #fefdfd; */
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
}

nav p {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: black;
    font-size: 16px;
    padding-top: 1em;
}

header {
    background-color: rgb(255, 255, 255);
}

header img {
    display: block;
    margin: auto;
    height: 7em;
    width: auto;
    padding-top: 1em;
}

main, footer {
    color: rgb(245, 231, 255);
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 30px auto;
    /* padding: 10px; */
}

article {
    width: 60%;
    padding: 10px;
}

article p {
    border-bottom: solid 1px white;
    padding-bottom: 10px;
}

.show-info {
    width:40%;
    padding: 10px;
    align-self: flex-end;
}

.show-info li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: solid white 1px;
    text-align: center;
}

nav p:hover,
.show-info li:hover {
    background-color: white;
    color: slategray;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    line-height: 2em;
    /* padding: 10px; */
}

footer a {
    color:rgb(115, 240, 240);
}